<footer>
  <div class="details">
    <section>
      <h1>Carmangeria lui Geo</h1>
      <p>Produse tradiționale. Nou! Ne gasesti si in Roman - Hala Centrala!</p>
    </section>
    <section class="contacts">
      <h2>Contacte</h2>
      <div class="socials">
        <a
          class="facebook"
          href="https://www.facebook.com/CarmangeriluiGeo/"
          target="_blank"
          ><img src="/assets/socials/facebook.png"
        /></a>
        <a
          class="facebook"
          href="https://www.facebook.com/CarmangeriluiGeo/"
          target="_blank"
          ><img src="/assets/socials/whatsapp.png"
        /></a>
      </div>
      <p><b>Email:</b> comenzi&#64;carmangerialuigeo.ro</p>
      <b>Numere de telefon:</b>
      <ul>
        <li>0787554552</li>
        <li>0745287259</li>
      </ul>
    </section>
  </div>
  <div class="copyright">Carmangeria lui Geo © 2024</div>
</footer>
