.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.wrapper {
  display: flex;
  gap: 2rem;
  @media (max-width: 801px) {
    flex-direction: column;
    gap: 1rem;
  }
}

article {
  display: flex;
  gap: 1rem;
  padding: 1.5rem;
  padding-right: 3rem;
  padding-bottom: 1.7rem;
  box-sizing: border-box;
  background-color: #333333;
  width: fit-content;
  cursor: pointer;
  align-items: center;
  section {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0;
      padding-bottom: 0.5rem;
      transition: 0.1s;
    }
  }
  mat-icon {
    font-size: 50px;
    height: 50px;
    width: 50px;
  }
  &:hover {
    h2 {
      color: var(--primary-color);
    }
    span {
      text-decoration: underline;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  h3 {
    margin-top: 0;
  }
  button {
    margin-top: 1rem;
  }
  @media (max-width: 801px) {
    width: calc(100% - 1rem);
  }
}
