<div class="admin-header">
  <h1>Comenzi ({{ unCompletedOrders.length }} nefinalizate)</h1>
  <mat-checkbox #check (change)="showCompleted = check.checked"
    >Comenzi finalizate</mat-checkbox
  >
</div>
@if (showCompleted) {
<div class="wrapper">
  @for(order of completedOrders; track order.id) {
  <order [order]="order" (action)="onAction(completedOrders, $index)" />}@empty
  {
  <h3>Nu sunt comenzi</h3>
  }
</div>
} @else {
<div class="wrapper">
  @for(order of unCompletedOrders; track order.id) {
  <order [order]="order" (action)="onAction(unCompletedOrders, $index)" />}
  @empty {
  <h3>Nu sunt comenzi</h3>
  }
  <div class="statistics" *ngIf="unCompletedOrders.length">
    <mat-form-field>
      <mat-label>Introdu un interval</mat-label>
      <mat-date-range-input [rangePicker]="picker" [formGroup]="interval">
        <input matStartDate formControlName="start" />
        <input matEndDate formControlName="end" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button
      mat-icon-button
      class="clear"
      (click)="clear()"
      matTooltip="Resetează intervalul"
    >
      <mat-icon>close</mat-icon>
    </button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nume</th>
          <th>Cantitate necesară</th>
        </tr>
      </thead>
      <tbody>
        @for (productStats of (productsStats | sort: 'amount' ); track
        productStats.id) {
        <tr>
          <td>{{ productStats.id }}</td>
          <td>{{ productStats.title }}</td>
          <td>
            {{ productStats.amount }}
          </td>
        </tr>
        } @empty {
        <tr>
          <td>Niciun produs</td>
          <td></td>
          <td></td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
}
