.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @media (max-width: 801px) {
    width: calc(100% - 1rem);
  }
}

mat-checkbox {
  color: #fff;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.date {
  background-color: #2c2c2c;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover {
    background-color: #3f3f3f;
  }
  &--selected {
    border: 2px solid #afafaf;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  border: 1px solid #333333;
  text-align: left;
}

th {
  background-color: #272727;
}

tr:nth-child(even) {
  background-color: #303030;
}

.clear {
  margin-left: 0.5rem;
}

.statistics {
  margin-top: 1rem;
}
